
.center {
    margin-top: 3%;
    width: 100%;
    text-align: center;
    }
.feedname{
    font-size: 20px;
    font-weight: 600;
    color: #000;
    }
.feedimg {
    width: 30%;
    }
.feedtxt{
    width: 70%;
    }
.feedcomment{
    width: 100%;
    }